<div class="radio-group">
  <div ng-repeat="(key, option) in options.templateOptions.options" class="radio">
    <label>
      <input type="radio"
             formly-dynamic-name="id"
             formly-custom-validation="options.validators"
             id="{{id + '_'+ $index}}"
             aria-describedby="{{id}}_description"
             ng-value="option.value"
             ng-required="options.templateOptions.required"
             ng-model="$parent.model[$parent.options.key]">
      {{option.name}}
    </label>
  </div>
</div>
